<%- include('../layouts/header') %>
      <title>Update Promotion</title>
      <br>
      <h4 class="text-primary">Update Promotion | <a href="/pm/view">Go Back</a></h4>
      <hr>
      <form action="/pm/<%=promotion._id%>?_method=PUT" method="post">
        <div class="form-group">
          <label for="upc">Description - Product Code</label>

          <input type="text" class="form-control" name="upc" id="name" value="<%=promotion.product.pcode%>" required disabled>
        </div>
        <div class="form-group">
          <label for="name">Title of promotion</label>
          <input type="text" class="form-control" name="name" id="name" value="<%=promotion.name%>"  required disabled>
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <input type="text" class="form-control"  name="description" id="description" value="<%=promotion.description%>"  required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
          <label for="cost">Cost Offer</label>
          <input type="number" class="form-control"  name="costPrice" id="cost" value="<%=promotion.costPrice%>"  required>
          </div>
          <div class="form-group col-md-2">
          <label for="sellingPrice">Selling Offer</label>
          <input type="number" class="form-control"  name="sellingPrice" id="sellingPrice" value="<%=promotion.sellingPrice%>"  required>
          </div>
          <div class="form-group col-md-3">
          <label for="marginLost">Margin Lost</label>
          <input type="number" class="form-control"  name="marginLost" id="marginLost" value="<%=promotion.marginLost%>" required>
            </div>
          <div class="form-group col-md-3">
          <label for="marginLost">Share%</label>
          <input type="number" class="form-control"  name="share" id="share"  value="<%=promotion.share%>" required>
          </div>
          <div class="form-group col-md-2">
            <label for="marginLost">Supplier Share%</label>
            <input type="number" class="form-control"  name="supplierShare" id="supplierShare" value="<%=promotion.supplierShare%>"  required>
            </div>
        </div>
        <div class="form-group">
          <label for="comments">Comments</label>
          <textarea class="form-control" name="comment" id="" cols="10" rows="2" value="<%=promotion.comments%>" required></textarea>
        </div>
        <div class="form-group">
          <label for="upc">Promotion Status</label> (<span>Previous Status - <small class="text-primary"><%=promotion.status%></small></span>)
          <select class="form-control" name="status" id="status">
            <% promotionStatus.forEach(function(r){ %>
              <option value="<%=r.status%>"><%=r.status%></option>
              <% }) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Update Promotions</button>
        <small><a href="/support">Product not avalible?</a></small>
      </form>
    </ul>
    <%- include('../layouts/footer') %>